<<<<<<< HEAD
extends layout

block content
  .timeline
    form#join-form(action='/auth/join' method='post')
      .input-group
        label(for='join-email') 이메일
        input#join-email(type='email' name='email')
      .input-group
        label(for='join-nick') 닉네임
        input#join-nick(type='text' name='nick')
      .input-group
        label(for='join-password') 비밀번호
        input#join-password(type='password' name='password')
      if joinError
        .error-message= joinError
=======
extends layout

block content
  .timeline
    form#join-form(action='/auth/join' method='post')
      .input-group
        label(for='join-email') 이메일
        input#join-email(type='email' name='email')
      .input-group
        label(for='join-nick') 닉네임
        input#join-nick(type='text' name='nick')
      .input-group
        label(for='join-password') 비밀번호
        input#join-password(type='password' name='password')
      if joinError
        .error-message= joinError
>>>>>>> b945e65fc137f6db9717bb2120243867a83a8a16
      button#join-btn.btn(type='submit') 회원가입